@import url('https://fonts.googleapis.com/css?family=Beth+Ellen|El+Messiri|Livvic|Long+Cang|Noto+Sans+JP&display=swap');

.character-container {
    width: 100vw;
    min-height: 100vh;
    background: #172A3A;
    font-family: 'Livvic', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center
}

.character-display-parent {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}